
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lora:ital,wght@1,700&display=swap');



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family:Lora, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.4rem;
}

.Weather {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  color:antiquewhite;
}

.Weather::before {
  content: '';
  background: url(./assets/background-plane.jpg) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-right: 200px;
  z-index: -1;

}

.container {
  max-width: 700px;
  height: 400px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Weather .top {
  width: 100%;
margin: 1rem auto;


}


.Weather .search {
  text-align: center;
  padding: 1rem;
}

.Weather input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(255,255,255,0.1);
  color: antiquewhite;
}

::placeholder  {
  color:antiquewhite
}

.Weather .description {
  position: relative;
  top: 50%;
  right: -92%;
transform-origin: 0 0;
transform: rotate(270deg);
}

.Weather .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);
}

.bold {
  font-weight: 700;
}

form {
  position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px black;
  color: black;

}

form input{
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none
}

.background {
  background: url(./assets/private_plane-wallpaper-1920x1200.jpg) no-repeat;
  width: 100%;
  padding: 20rem;
 color: black;

}

.note {
  color: black;
  width: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 5px gray;
  padding: 10px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 14px;
  margin-bottom: 6px;
  color: black;
}

.note p {
  font-size: 12px;
  padding-top: 3px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background: rgb(220, 210, 13);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px gray;
  cursor: pointer;
  outline: none;
}

.note button {
  position: relative;
  float: right;
  color: orange;
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
}

.count {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}